@{
    ViewData["Title"] = "Service Unavailable";
}

<div class="container text-center mt-5">
    <h1 class="text-danger">Oops!</h1>

    <h3>Service Temporarily Unavailable</h3>

    <p>@ViewBag.Message</p>
</div>