@model AddressCreateDTO
@using System.Security.Claims
<h2>Thêm địa chỉ mới</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            
            <p>Chào bạn, ID của bạn là: @User.FindFirst(ClaimTypes.NameIdentifier)?.Value</p>
            <div class="mb-3">
                <label>Địa chỉ chi tiết</label>
                <input asp-for="AddressDetails" class="form-control" />
            </div>
            <div class="row">
                <div class="col"><input asp-for="Province" placeholder="Tỉnh" class="form-control" /></div>
                <div class="col"><input asp-for="District" placeholder="Huyện" class="form-control" /></div>
            </div>
            <div class="form-check mb-3">
                <input asp-for="IsDefault" class="form-check-input" type="checkbox" />
                <label class="form-check-label" asp-for="IsDefault">Đặt làm mặc định</label>
                <span asp-validation-for="IsDefault" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Lưu lại</button>
            <a asp-action="Index" class="btn btn-secondary mt-3">Quay lại</a>
        </form>
    </div>
</div>